<!DOCTYPE html>

<html>

  <head>
    <title>What should be my occupation?</title>
  </head>

  <body bgcolor="FFD1DC"><center>

    <h1>Your CHOSEN occupation:</h1>
    <br><i>
    {{occ}}
    </i><br><br>
    Congrats?
    
    <br><br>
    <h2>Now, here's all the stuff you <i>could've</i> gotten, but didn't!
    <br>Whoohoo!</h2>

    <table>
      <tr>
	<td><b>Jobs</b></td>
	<td><b>Percentages</b></td>
      </tr>
      {% for item in dict %}
      <tr>
        <td>{{item}}</td>
	<td>{{dict[item]}}</td>
      </tr>
      {% endfor %}
    </table>

  </center></body>

</html>
